@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap");
@font-face {
  font-family: "Noto sans cjk";
  src: url("./fonts/NotoSansCJKjp-Black.otf") format("woff");
  src: url("./fonts/NotoSansCJKjp-Bold.otf") format("woff");
  src: url("./fonts/NotoSansCJKjp-DemiLight.otf") format("woff");
  src: url("./fonts/NotoSansCJKjp-Light.otf") format("woff");
  src: url("./fonts/NotoSansCJKjp-Medium.otf") format("woff");
  src: url("./fonts/NotoSansCJKjp-Regular.otf") format("woff");
  src: url("./fonts/NotoSansCJKjp-Thin.otf") format("woff");
  src: url("./fonts/NotoSansMonoCJKjp-Bold.otf") format("woff");
  src: url("./fonts/NotoSansMonoCJKjp-Regular.otf") format("woff");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.App {
  text-align: center;
}

body {
  background: #FAFAFA;
}

h1, h2, h3, h4, h5, h6, div, p {
  margin: 0;
  font-family: 'Noto Sans JP', "Noto sans cjk", sans-serif;
  line-height: 1.68em;
}

.homework .MuiTabs-root {
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    -webkit-animation: App-logo-spin infinite 20s linear;
            animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  width: 1110px;
  max-width: 100%;
  margin: 0 auto;
}

.container.sp-wi90 {
  max-width: 91.4%;
}

@media screen and (max-width: 480px) {
  p {
    font-size: 16px;
  }
}

.work {
  margin-top: 40px;
}

.MuiIconButton-label {
  font-size: 16px;
}

.makeStyles-root-1 {
  background: transparent;
}

.MuiAccordionSummary-root.Mui-expanded {
  overflow-x: scroll;
}

.MuiCollapse-container.MuiCollapse-entered {
  overflow-x: scroll;
}

.listening, .writing {
  background: #fff;
  overflow-x: scroll;
}

.writing h3 {
  color: #226e93;
}

.MuiButtonBase-root {
  overflow-x: scroll;
}

.homework .MuiBox-root-12 {
  padding: 0;
}

#menu-icon {
  background: #fff;
  border: none;
  -webkit-transition: .3s;
  transition: .3s;
}

#menu-icon:checked {
  border: none;
}

#menu-icon:focus {
  border: none;
}

#menu-icon.ON {
  background: #1B1464;
}

#menu-icon.ON span {
  background: #fff;
}

#menu-icon.ON span:first-child {
  -webkit-transform: rotate(45deg) translateY(4px);
          transform: rotate(45deg) translateY(4px);
}

#menu-icon.ON span:nth-child(2) {
  display: none;
}

#menu-icon.ON span:nth-child(3) {
  -webkit-transform: rotate(-45deg) translateY(-4px);
          transform: rotate(-45deg) translateY(-4px);
}

#menu-icon span {
  display: block;
  height: 8px;
  margin: 4px 0;
  content: '';
  background: #1B1464;
  -webkit-transition: .3s;
  transition: .3s;
}

header #menu-icon {
  margin-left: 18px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

header #spmenu {
  position: fixed;
  top: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  left: 0;
  width: 100%;
  background: #1B1464;
  -webkit-transition: .3s;
  transition: .3s;
  padding-top: 0px;
  height: calc(100vh - 47px);
}

header #spmenu.ON {
  top: 47px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

header #spmenu .footer__content__right--lists {
  padding-left: 4.3%;
  padding-right: 4.3%;
}

#spmenu {
  position: relative;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  width: 100%;
  background: #1B1464;
  -webkit-transition: .3s;
  transition: .3s;
  padding-top: 40px;
  height: calc(100vh - 47px);
}

#spmenu.ON {
  top: 47px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#spmenu.ON span {
  background: #fff;
}

#spmenu .footer__content__right--lists {
  padding-left: 4.3%;
  padding-right: 4.3%;
}

.ON + .homework__sidebar {
  -webkit-transform: translate(0);
          transform: translate(0);
  z-index: 998;
}

@media screen and (max-width: 480px) {
  .ON + .homework__sidebar {
    width: 200px;
  }
}

.ON {
  -webkit-transform: translateX(160px);
          transform: translateX(160px);
  z-index: 999;
}

.homework {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.homework .MuiIconButton-label {
  font-size: 16px;
}

.homework .container {
  width: 1160px;
  max-width: 91.4%;
}

.homework .ON {
  -webkit-transform: translateX(160px);
          transform: translateX(160px);
  z-index: 999;
}

.homework .ON + .homework__sidebar {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.homework__sidebar {
  width: 20%;
  background: #222;
}

@media screen and (max-width: 480px) {
  .homework__sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    overflow-y: scroll;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.homework__sidebar h2 {
  padding-left: 20px;
}

.homework__sidebar * {
  color: #fffffe;
  text-align: left;
}

.homework__main {
  width: 80%;
}

@media screen and (max-width: 480px) {
  .homework__main {
    width: 100%;
  }
}

.homework__main h3 {
  color: #1e6c93;
  font-size: 20px;
  padding-bottom: 20px;
  padding-top: 40px;
  padding-left: 10px;
}

.homework__main h4 {
  font-size: 18px;
  margin: 40px 0 20px;
}

.homework__main p {
  padding-left: 10px;
}

@media screen and (max-width: 480px) {
  .homework__main p {
    padding-left: 0;
  }
}

.homework__main a {
  border-color: #1e6c93;
  color: #1e6c93;
  font-family: Lato, sans-serif;
  font-size: 11pt;
  line-height: normal;
  padding: 10px;
  display: block;
  text-align: center;
  border: 1px solid #1e6c93;
  margin-bottom: 40px;
  margin-top: 40px;
}

.homework__main * {
  text-align: left;
  word-break: normal;
  max-width: 100%;
}

.homework__main img {
  width: 80%;
  margin-top: 40px;
}

.homework__main h2 {
  font-size: 20px;
  color: #fff;
  padding: 20px;
  background: #226e93;
  margin-top: 40px;
  margin-bottom: 40px;
}

.homework__main h1 {
  color: #226e93;
  font-size: 27px;
  line-height: 1.68em;
  text-align: left;
  margin-top: 40px;
}

@media screen and (max-width: 480px) {
  .homework__main h1 {
    font-size: 20px;
  }
}

.big {
  font-size: 1.2em;
}

.row .MuiTabs-flexContainer, .row .MuiTabs-flexContainer button {
  display: block;
  width: 100%;
  max-width: 100%;
  text-align: left;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.row .MuiTab-wrapper {
  display: inline;
}

.row.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row.al-fl-sta {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.row.ju-ce {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row.spa-be {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row.spa-aro {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.row.fle-sta {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.row.fle-en {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.row .col-3 {
  width: 30%;
}

.row .col-2 {
  width: 50%;
}

.row .col-4 {
  width: 25%;
}

.row .col-5 {
  width: 20%;
}

.row .col-6 {
  width: 60%;
}

.row .col-7 {
  width: 70%;
}

.row .col-2-4 {
  width: 40%;
}

@media screen and (max-width: 480px) {
  .row .col-2-4 {
    width: 80%;
  }
}

.pa30 {
  padding: 30px 0;
}

.seri {
  font-family: "Noto Serif JP", serif;
}

img {
  max-width: 100%;
  display: block;
  padding: 0;
  line-height: 1em;
  margin: 0 auto;
}

.homework .MuiBox-root-6, .homework .MuiBox-root-7 {
  padding: 40px 0;
}

header .header--sp-menu__buttons {
  background: #FCFCFC;
  padding: 64px 0;
  margin-bottom: 40px;
}

header .header--sp-menu__buttons--button {
  width: 255px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 24px;
  border: 2px solid #2F2872;
  margin: 0 auto 16px;
  color: #2F2872;
  font-weight: bold;
  font-size: 16px;
}

@media screen and (max-width: 480px) {
  header .header--logo {
    width: 120px;
  }
}

header#header {
  position: fixed;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 80px;
  background: #fff;
  -webkit-box-shadow: rgba(15, 14, 14, 0.3);
          box-shadow: rgba(15, 14, 14, 0.3);
  width: calc(100% - 60px);
  padding: 0 6px 0 40px;
  border-radius: 10px;
  z-index: 999;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 480px) {
  header#header.ON {
    background: #1B1464;
  }
}

header#header.ON .header--logo path {
  color: #fff;
  fill: #fff;
}

@media screen and (max-width: 480px) {
  header#header {
    width: 100%;
    top: 0;
    border-radius: 0;
    padding: 0 16px;
    height: 47px;
  }
}

header#header .list {
  margin-right: 40px;
  font-size: 16px;
  font-weight: bold;
  color: #07080C;
}

header#header .link {
  width: 210px;
  height: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #EBEBEB;
}

header#header .link.counseling-link {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 480px) {
  header#header .link.counseling-link {
    width: 144px;
    background: #05BE4F;
    height: 33px;
    padding: 0;
    border-radius: 2px;
  }
}

header#header .link.counseling-link:hover {
  background: #05BE4F;
}

header#header .link.counseling-link:hover p {
  color: #fff;
}

header#header .link.counseling-link:hover path {
  fill: #fff;
}

header#header .link.counseling-link p {
  color: #05BE4F;
  font-weight: bold;
  margin-left: 5px;
  position: relative;
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
  -webkit-transition: .3s;
  transition: .3s;
}

@media screen and (max-width: 480px) {
  header#header .link.counseling-link p {
    font-size: 13px;
    color: #fff;
    font-weight: bold;
    width: auto;
    text-align: left;
    margin-left: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

header#header .link.counseling-link p path {
  -webkit-transition: .3s;
  transition: .3s;
}

header#header .link.counseling-link p .img {
  width: auto;
  margin-right: 5px;
  position: absolute;
  top: 70%;
  left: -10px;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
}

@media screen and (max-width: 480px) {
  header#header .link.counseling-link p .img {
    display: none;
  }
}

header#header .link.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .3s;
  transition: .3s;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  header#header .link.login {
    display: none;
  }
}

header#header .link.login:hover {
  background: #2F2872;
}

header#header .link.login:hover p {
  color: #fff;
}

header#header .link.login:hover path {
  fill: #fff;
}

header#header .link.login p {
  font-size: 15px;
  font-weight: bold;
  color: #2F2872;
  margin-left: 5px;
  position: relative;
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
  -webkit-transition: .3s;
  transition: .3s;
}

header#header .link.login p path {
  -webkit-transition: .3s;
  transition: .3s;
}

header#header .link.login p .img {
  margin-left: auto;
  margin-right: 5px;
  position: absolute;
  top: 70%;
  left: -10px;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
}

header#header img {
  margin-left: 0;
}

header #menu-icon {
  margin-left: 18px;
  z-index: 999;
}

header #menu-icon span {
  width: 32px;
  height: 3px;
  border-radius: 8px;
  display: block;
  content: '';
  background: #191163;
}

header #menu-icon span:nth-child(2) {
  margin: 6px 0;
}

.homework #menu-icon {
  margin-left: 0;
  position: fixed;
  top: 10px;
  left: 0px;
}

.homework #menu-icon.ON {
  background: transparent;
}

#menu-icon {
  margin-left: 18px;
}

#menu-icon span {
  width: 32px;
  height: 3px;
  border-radius: 8px;
  display: block;
  content: '';
  background: #191163;
}

#menu-icon span:nth-child(2) {
  margin: 6px 0;
}

.arial {
  font-family: arial;
}

.pc {
  display: block;
}

@media screen and (max-width: 480px) {
  .pc {
    display: none;
  }
}

.sp {
  display: none;
}

.sp {
  display: none;
}

@media screen and (max-width: 480px) {
  .sp {
    display: block;
  }
}

li {
  list-style: none;
}

.footer {
  background: #3B4043;
  padding: 80px 0;
}

@media screen and (max-width: 480px) {
  .footer {
    padding: 40px 0 0;
    background: #606467;
  }
}

.footer__content {
  width: 1110px;
  max-width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 480px) {
  .footer__content.bg {
    background: #3B4043;
    padding: 24px 0;
  }
}

.footer__content__left {
  width: 50%;
}

@media screen and (max-width: 480px) {
  .footer__content__left {
    width: 100%;
  }
}

.footer__content__left--copywright {
  text-align: left;
  font-family: 'Arial';
  line-height: 28px;
  color: #fff;
  font-size: 16px;
}

@media screen and (max-width: 480px) {
  .footer__content__left--copywright {
    padding-left: 4.3%;
    font-size: 14px;
  }
}

.footer__content__left--lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0;
  padding-left: 0;
  margin: 50px 0;
}

@media screen and (max-width: 480px) {
  .footer__content__left--lists.mt0 {
    margin-top: 0;
  }
}

@media screen and (max-width: 480px) {
  .footer__content__left--lists {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer__content__left--lists--list {
  padding: 0 20px;
  color: #fff;
  font-size: 16px;
  border-right: 1px solid #fff;
}

@media screen and (max-width: 480px) {
  .footer__content__left--lists--list {
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 8px;
    padding: 0 8px;
  }
}

.footer__content__left--lists--list.first {
  border-left: none;
  padding-left: 0;
}

@media screen and (max-width: 480px) {
  .footer__content__left--lists--list.first {
    padding-left: 8px;
  }
}

.footer__content__left--lists--list.last {
  border-right: none;
}

.footer__content__left--login {
  margin-bottom: 50px;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .footer__content__left--login {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer__content__left--login p {
  font-size: 15px;
  font-weight: bold;
  color: #63B4C7;
  line-height: 28px;
}

.footer__content__left--login img {
  width: 18px;
  margin-right: 0;
}

.footer__content__left img {
  margin-left: 0;
  margin-right: 10px;
}

.footer__content__left__buttons {
  margin-bottom: 50px;
}

@media screen and (max-width: 480px) {
  .footer__content__left__buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 40px;
  }
}

.footer__content__left__buttons a {
  width: 50%;
}

@media screen and (max-width: 480px) {
  .footer__content__left__buttons a {
    width: 48.5%;
  }
}

.footer__content__left__buttons--button {
  width: 228px;
  height: 54px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #fff;
  color: 18px;
  margin-right: 0;
  max-width: 100%;
}

@media screen and (max-width: 480px) {
  .footer__content__left__buttons--button {
    background: #3B4043;
  }
}

.footer__content__right {
  width: 50%;
}

@media screen and (max-width: 480px) {
  .footer__content__right {
    width: 100%;
  }
}

.footer__content__right--lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 0;
  padding-left: 0;
  margin-top: 0;
}

.footer__content__right--lists a {
  width: 50%;
}

.footer__content__right--lists--list {
  color: #fff;
  font-size: 18px;
  text-align: left;
  margin-bottom: 22px;
  padding-left: 12px;
  position: relative;
}

@media screen and (max-width: 480px) {
  .footer__content__right--lists--list {
    font-size: 14px;
    margin-bottom: 18px;
  }
}

.footer__content__right--lists--list::before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3px 0 3px 6px;
  border-color: transparent transparent transparent #ffffff;
  top: 50%;
  left: 0;
  -webkit-transform: transalteY(-50%);
          transform: transalteY(-50%);
}
/*# sourceMappingURL=App.css.map */